:host {
  display: block;
}

.field {
  margin-bottom: 1rem;
}

label {
  color: #495057;
}

.text-red-500 {
  color: #ef4444;
}

small.text-red-500 {
  display: block;
  margin-top: 0.25rem;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-color: #ef4444;
}

h3 {
  color: #1e293b;
}
