:host ::ng-deep {
  .p-card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    .p-card-body {
      padding: 1.5rem;
    }
  }

  .p-datatable .p-datatable-tbody > tr > td {
    padding: 1rem;
  }

  .p-datatable .p-datatable-thead > tr > th {
    padding: 1rem;
    background-color: #f8f9fa;
    font-weight: 600;
  }
}
