:host {
  display: block;
}

.container {
  max-width: 1400px;
}

::ng-deep {
  .p-panel {
    .p-panel-header {
      background-color: #f8f9fa;
      border: 1px solid #dee2e6;

      &:hover {
        background-color: #e9ecef;
      }
    }
  }
}
